

@model TodoItem

<h2>Add New Task</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(model => model.Title)
        @Html.EditorFor(model => model.Title)
    </div>
    <div>
        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description)
    </div>
    <input type="submit" value="Create" />
}
